<h1>Habits Tracker App</h1>
<div class="checkbox-container"></div>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    let id = urlParams.get("id");

    fetch("/getSingle?id=" + id, {
        method: "GET"
    }).then((result) => {
        result.json().then((habit) => {
            let todoSessions = habit.todo;
            let container = document.querySelector(".checkbox-container");

            const parser = new DOMParser();

            for (let i = 1; i <= habit.todo; i++) {
                let checkboxHtml = `<input type="checkbox" id="${habit.id}"/>`;
                checkboxHtml += `<label for="${habit.name}-${i}">Giorno ${i}</label>`;
                const html = parser.parseFromString(checkboxHtml, 'text/html');
                container.append(html.body);
            }

            document.querySelectorAll("[type='checkbox']").forEach((item) => {
                item.addEventListener("change", (element) => {
                    // if (element.target.checked) {
                    //     await addDoneSession(id);
                    // } else {
                    //     console.log("Checkbox is not checked..");
                    // }
                });
            });
        })
    }
    );

    async function addDoneSession(id) {
        fetch(`/addDoneSession?id=${id}`, {
            method: "GET",
        }).then((result) => {
            window.reload;
        }
        );
    }

</script>